:root {
  --objectika-dark-primary-color: #191919;
  --objectika-dark-secondary-color: #202020;
  --objectika-dark-component-color: #03001c;
  --objectika-dark-text-color: #ffffff;
  --animation-time: 0.5s;
}

.objectika-dark-primary-color {
  background-color: var(--objectika-dark-primary-color) !important;
  color: var(--objectika-dark-text-color) !important;
}

.objectika-dark-secondary-color {
  background-color: var(--objectika-dark-secondary-color) !important;
  color: var(--objectika-dark-text-color) !important;
}

.objectika-dark-component-color {
  background-color: var(--objectika-dark-component-color) !important;
  color: var(--objectika-dark-text-color) !important;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

.carousel-image {
  height: 600px !important;
}

.about-us .about-us-carousel .owl-next {
  position: absolute;
  height: 100%;
  width: 200px;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  transition: all ease var(--animation-time);
}
.about-us .about-us-carousel .owl-next:hover {
  background: rgb(25, 25, 25);
  background: linear-gradient(90deg, rgba(25, 25, 25, 0) 0%, rgb(25, 25, 25) 100%);
}
.about-us .about-us-carousel .owl-prev {
  position: absolute;
  height: 100%;
  width: 200px;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  transition: all ease var(--animation-time);
}
.about-us .about-us-carousel .owl-prev:hover {
  background: rgb(25, 25, 25);
  background: linear-gradient(90deg, rgb(25, 25, 25) 0%, rgba(25, 25, 25, 0) 100%);
}
.about-us .about-us-carousel .owl-dots {
  display: none;
}

.our-team-card-social-media-back {
  width: 48px;
  height: 48px;
}

@media only screen and (max-width: 991px) {
  .about-us-content {
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    transform: translate(0%, 0%) !important;
  }
}