:root {
  --objectika-dark-primary-color: #191919;
  --objectika-dark-secondary-color: #202020;
  --objectika-dark-component-color: #03001c;
  --objectika-dark-text-color: #ffffff;
}

.objectika-dark-primary-color {
  background-color: var(--objectika-dark-primary-color) !important;
  color: var(--objectika-dark-text-color) !important;
}

.objectika-dark-secondary-color {
  background-color: var(--objectika-dark-secondary-color) !important;
  color: var(--objectika-dark-text-color) !important;
}

.objectika-dark-component-color {
  background-color: var(--objectika-dark-component-color) !important;
  color: var(--objectika-dark-text-color) !important;
}

::-webkit-scrollbar {
    display: none;
}

body {
  overflow-x: hidden;
}

.carousel-image {
  height: 600px !important;
}

.about-us-carousel {
  .owl-next {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    &:hover {
        background-color: #00000050;
    }
  }
  
  .owl-prev {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    &:hover {
        background-color: #00000050;
    }
  }
}
